/* regole generali */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: monospace;
}
span{
  display: inline-block;
}

main{
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: #B70127;
  height: 100vh;
}
.logoTitle{
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
}
h1{
  text-align: center;
  margin: 40px 0;
  color: white;
  letter-spacing: 1px;
  font-size: 36px;
  padding-left: 20px;
  width: 100%;
}
#input{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
  align-items: center;
  height: 300px;
  border: 1px solid #DDDDDD;
  background-color: #F8F8F8;
}
#inputDate{
  display: flex;
  justify-content: space-around;
  width: 80%;
}
.containerName,
.containerKm,
.containerAge,
.containerClass{
  display: flex;
  flex-direction: column;
  height: 80px;
  justify-content: space-around;
  align-items: center;
}
label{
  width: 100%;
  text-align: center;
  color: #B70127;
  font-size: 20px;
}
input,
#age,
#class{
  font-size: 15px;
  border-radius: 15px;
  border: 1px solid #B70127;
  padding: 4%;
  letter-spacing: 1px;
  box-shadow: 3px 3px 3px 1px #DDDDDD;
}
input:focus{
  background-color: #B70127;
  color: white;
}
#class{
  padding: 8%;
}
#inputButton{
  width: 50%;
  text-align: center;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}
button{
  font-size: 20px;
  padding: 7px;
  color: #B70127;
  margin-right: 6px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 1px #660217;
  background-color: white;
}
button:hover{
  background-color: #B70127;
  color: white;
  box-shadow: 3px 3px 3px 1px #DDDDDD;
}
#prenota{
  opacity: 0;
  background-color: #B70127;
  color: white;
  transition: 0.2s;
  transform: scale(1.3);
  margin-left: 6%;
}
h2{
  text-align: center;
  margin: 20px 0;
  font-size: 30px;
  color: white;
  letter-spacing: 1px;
}
#output{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
  align-items: center;
  height: 250px;
  border: 1px solid #DDDDDD;
  background-color: #F8F8F8;
  border-radius: 20px;
  box-shadow: 3px 3px 3px 1px;
  transition: 0.2s;
  opacity: 0;
}
.infoBiglietto{
  display: flex;
  width: 100%;
  justify-content: space-around;
  border-bottom: 1px solid #B70127;
  border-top: 1px solid #B70127;
  padding: 2% 0;
}
.codiceQr{
  width: 100px;
}
.codiceQr img{
  width: 100%;
}
.passeggero{
  display: flex;
  justify-content: space-between;
  background-color: rgba(183, 1, 39, 0.4);
  height: 100px;
  width: 300px;
}
.infoName{
  display: flex;
  flex-direction: column;
  height: 60%;
  justify-content: space-between;
}
.outputName{
  padding-top: 15px;
}
.offerta,
.treno,
.carrozza,
.posto,
.prezzo{
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.passeggero,
.offerta span,
.treno span,
.carrozza span,
.posto span,
.prezzo span{
  font-weight: bolder;
  font-size: 20px;
}
